.weekActivity {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 450px;
  height: 342px;
  background: var(--color-white);
  border-radius: 10px;
  padding-top: 16px;
  gap: 16px;
}

.main {
  width: 374px;
  height: 97px;
}

h3 {
  width: 254px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.label {
  color: var(--color-gray-strong);
}

.activities {
  color: var(--color-blue-strong);
}

.goals {
  color: var(--color-blue-light);
}

.stats {
  width: 306px;
  height: 190.64px;
}
