.layoutContainer {
  background: var(--color-bg-primary);
  padding-top: 35px;

  display: flex;
  flex-direction: column;
  align-items: stretch;

  width: 100%;
  min-height: 100vh;
  min-width: 1024px;
  max-width: 1440px;
  margin: 0 auto;

  box-sizing: border-box; /* on évite de perdre de la place à cause de paddings */
}

/* Un peu de padding pour l'affichage en 1024 */
.header {
  padding-left: 15px;
  padding-right: 15px;
}

.outlet {
  display: flex;
  width: 100%;
  flex-direction: column;

  flex: 1; /* pour prendre toute la place restante */

  padding-left: 15px;
  padding-right: 15px;
}
