.logo {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: flex-start;
}

/* Conteneur de la barre complète */
.col {
  position: relative;
  /* IMPORTANT : devient la point de départ (0,0) pour la partie
  haute et la partie basse qui composent la barre */
}

/* Styles commun aux deux parties de la barre */
.colTop,
.colBottom {
  position: absolute; /* On les sort du flux standard */
  left: 0;
  width: 100%;
  border-radius: 100px;
}

/* --- Partie rouge --- */
.colTop {
  background: linear-gradient(180deg, #f99885 0%, #df392b 100%);
  z-index: 2; /* reste au dessus de la barre du bas */
  top: 0; /* aligné en haut du conteneur */
  transform: translateY(0);
  animation: slideRedColDown 3.5s ease-in-out infinite;
}

/* --- Partie bleue --- */
.colBottom {
  background: linear-gradient(180deg, #f4320b 0%, #5465f7 100%);
  z-index: 1; /* Reste derrière le composant rouge */
}

/* --- KEYFRAMES (animation) --- */

@keyframes slideRedColDown {
  0% {
    transform: translateY(0); /* position initiale haute */
  }

  /* ---- ça descend ---- */
  40% {
    /* décallage léger plus bas pour l'effet de saut */
    transform: translateY(calc(var(--slide-distance) + var(-bottom-translate)));
  }
  45% {
    /* position normale */
    transform: translateY(var(--slide-distance));
  }
  50% {
    /* décallage léger plus bas pour l'effet de saut */
    transform: translateY(
      calc(var(--slide-distance) + var(--bottom-translate))
    );
  }
  55% {
    /* position normale */
    transform: translateY(var(--slide-distance));
  }

  /* ---- ça remonte ---- */
  85% {
    /* décallage léger plus haut pour l'effet de saut */
    transform: translateY(var(--top-translate));
  }
  90% {
    /* position normale */
    transform: translateY(0);
  }
  95% {
    /* décallage léger plus haut pour l'effet de saut */
    transform: translateY(var(--top-translate));
  }
  100% {
    /* position normale */
    transform: translateY(0);
  }
}
