.home {
  background-color: var(--color-bg-primary);
  display: flex;
  flex-direction: row;
  justify-self: center;
  width: 100%;
  height: 100vh;
  min-width: 1024px;
  min-height: 780px;
  max-width: 1440px;
  max-height: 1024px;

  margin: 0 auto;
}

.leftPane {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  padding-top: 55px;
  padding-left: 100px;
  padding-right: 134px;
  max-height: calc(23.41px + 151px + 617px);
}

.rightPane {
  background-size: cover;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--color-blue-strong);
  background: var(--color-white);
  border-radius: 50px;
  width: 288px;
  height: 62px;
  margin-bottom: 29px;
  margin-right: 24px;
}
