.footer {
  color: var(--color-black);
  background-color: var(--color-white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
  height: 40.66px;
  width: 100%;
  min-width: 1024px;
  max-width: 1440px;
}

.footerLeft {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 9px;
}

.footerRight {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
  gap: 16px;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.space {
  min-width: 73px;
}
