/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global variables */
:root {
  --font-family: "Inter", sans-serif;
  --line-height: 1.5;

  /* input variables */
  --input-height: calc(58 * 1rem / 16);
  --input-width-default: calc(317 * 1rem / 16);
  --input-radius: 10px;
  --input-padding-left: calc(20 * 1rem / 16);

  /* button variables */
  --button-height: calc(51 * 1rem / 16);
  --button-width-default: calc(135 * 1rem / 16);
  --button-radius: 10px;
  --button-small-height: calc(24 * 1rem / 16);
  --button-small-width: calc(24 * 1rem / 16);
  --button-small-radius: calc(10 * 1rem / 16);

  /* image variables */
  --image-radius: 10px;

  /* Colors */
  --color-blue-strong: #0b23f4;
  --color-blue-medium: #5465f7;
  --color-blue-light: #b6bdfc;
  --color-gray-strong: #707070;
  --color-gray-medium: #717171;
  --color-gray-light: #e7e7e7;
  --color-red-strong: #f44336;
  --color-red-light: #fcc1b6;
  --color-white: #ffffff;
  --color-black: #111111;
}

/* Font size / weight */
/* font-family: inherit to handle corretly font family on forms components */
.heading-1 {
  font-size: 3rem;
  font-weight: 900;
  font-family: inherit;
}
.heading-2 {
  font-size: 2.25rem;
  font-weight: 700;
  font-family: inherit;
}
.heading-3 {
  font-size: 1.75rem;
  font-weight: 600;
  font-family: inherit;
}
.heading-4 {
  font-size: 1.375rem;
  font-weight: 500;
  font-family: inherit;
}

.body-large,
.btn {
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
}
.body-default,
label,
input {
  font-size: 0.875rem;
  font-weight: 400;
  font-family: inherit;
}
.body-small {
  font-size: 0.75rem;
  font-weight: 400;
  font-family: inherit;
}
.caption {
  font-size: 0.625rem;
  font-weight: 400;
  font-family: inherit;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: var(--color-white);
  font-family: var(--font-family);
  line-height: var(--line-height);
}

/* Label & Input */
label {
  color: var(--color-gray-strong);
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
}

input {
  height: var(--input-height);
  max-width: var(--input-width-default);
  width: 100%; /* Ajouté pour le responsive */
  box-sizing: border-box;
  border: 0.5px solid;
  border-radius: var(--input-radius);
  padding: 0 0 0 var(--input-padding-left);
  outline: none;
}

.input-default {
  border-color: var(--color-gray-medium);
  background-color: var(--color-white);
  color: var(--color-black);
}

.input-default:focus {
  border-color: var(--color-blue-strong);
}

.input-disabled {
  border-color: var(--color-gray-medium);
  background-color: var(--color-gray-light);
  color: var(--color-gray-strong);
}

/* Buttons */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  height: var(--button-height);
  max-width: var(--button-width-default);
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: var(--button-radius);
  cursor: pointer;
  outline: none;

  /* Transition for :hover */
  transition:
    background-color 300ms ease-in-out,
    color 300ms ease-in-out;
}

.btn-default {
  background-color: var(--color-blue-strong);
  color: var(--color-gray-light);
}

.btn-default:hover,
.btn-default:focus {
  background-color: var(--color-blue-medium);
}

.btn-disabled {
  background-color: var(--color-gray-light);
  color: var(--color-gray-strong);
  cursor: not-allowed;
}

.btn-small {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: var(--button-small-height);
  width: var(--button-small-width);
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: var(--button-small-radius);
  cursor: pointer;
  outline: none;
  padding: 0; /* Avoid the icon to be positionned incorrectly */
}

.btn-small-white {
  border-color: var(--color-gray-medium);
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn-small-blue {
  border-color: var(--color-blue-strong);
  background-color: var(--color-blue-medium);
  color: var(--color-white);
}

/* Force SVG to be centered */
.btn-small svg {
  display: block;
  width: 100%;
  height: 100%;
}

/* Profile photo image management */
/* Image container */
.profile-photo-container {
  width: calc(104 * 1rem / 16);
  height: calc(117 * 1rem / 16);
  border-radius: var(--image-radius);
  overflow: hidden; /* CRUCIAL : Cut the image */
  display: inline-block; /* Align the block */
}

/* Image inside the container */
.profile-photo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Avoid distortion if image is not fully correct */

  /* Transition for the zoom */
  transition: transform 300ms ease-in-out;
}

/* Zoom effect */
.profile-photo-container img:hover {
  transform: scale(1.9); /* increase image size by 90% */
}
