/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global variables */
:root {
  --font-family: "Inter", sans-serif;
  --font-size: 16px;
  --line-height: 1.5;

  /* Colors */
  --color-blue-strong: #0b23f4;
  --color-blue-medium: #5465f7;
  --color-blue-light: #b6bdfc;
  --color-gray-strong: #707070;
  --color-gray-light: #e7e7e7;
  --color-red-strong: #f44336;
  --color-red-light: #fcc1b6;
  --color-white: #ffffff;
  --color-black: #111111;

  /* Font size / weight */
  .heading-1 {
    font-size: 3rem;
    font-weight: 900;
  }

  .heading-2 {
    font-size: 2.25rem;
    font-weight: 700;
  }

  .heading-3 {
    font-size: 1.75rem;
    font-weight: 600;
  }

  .heading-4 {
    font-size: 1.375rem;
    font-weight: 500;
  }

  .body-large {
    font-size: 1rem;
    font-weight: 500;
  }

  .body-default {
    font-size: 0.875rem;
    font-weight: 400;
  }

  .body-small {
    font-size: 0.75rem;
    font-weight: 400;
  }

  .caption {
    font-size: 0.625rem;
    font-weight: 400;
  }
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: var(--color-white);
  font-family: var(--font-family);
  line-height: var(--line-height);
}
