.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* calc pour repecter les padding left et right dans
   * le composant Layout.
   */
  min-width: calc(1024px - 30px);
  max-width: 1140px;
  margin: 0 auto;
}
